/* extra steps to make custom CSS work
 * (taken from  https://www.userchrome.org/how-create-userchrome-css.html)
 *
 * 1. open about:config
 * 2. set toolkit.legacyUserProfileCustomizations.stylesheets to true
 */

@-moz-document url(chrome://browser/content/browser.xul),
               url(chrome://browser/content/browser.xhtml) {

  /* hide horizontal tabs at the top of the window */
  /* set browser.uidensity to 1 in about:config to enable compact mode.*/
  #TabsToolbar > * {
    visibility: collapse;
  }

  /* hide navigation bar when it is not focused; use Ctrl+L to get focus 
  #main-window:not([customizing]) #navigator-toolbox:not(:focus-within):not(:hover) {
    margin-top: -45px;
  }

  #navigator-toolbox {
    transition: 0.2s margin-top ease-out;
  }
  */

  /* hide the "Tree Style Tab" header at the top of the sidebar (only Tree Style Tab sidebar) */
  #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    display: none;
  }

}
