* {
    border: none;
    border-radius: 0;
    font-family: "UbuntuMono Nerd Font", "InconsolataGo Nerd Font", Monospace;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 10, 10, 1);
    color: white;
}

tooltip {
  background: rgba(10, 10, 10, 0.8);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: white;
}

.warning {
    color: #ffe900;
}

.critical {
    color: #bd2c40;
}

#workspaces button {
    padding: 5px 5px 3px;
    color: white;
    border-bottom: 2px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 2px solid white;
}

#workspaces button.urgent {
    background: #ffe900;
}

#mode, #network, #pulseaudio, #keyboard-state, #cpu, #memory, #battery, #clock, #tray {
    padding: 0 10px;
}

#mode {
    background: #bd2c40;
    border-bottom: 2px solid #ffe900;
}

#pulseaudio {
    color: #48aaad;
}

#pulseaudio.muted {
    color: #bd2c40;
}

#keyboard-state label.locked {
    color: #689f38;
}

@keyframes blink {
    to {
        color: #bd2c40;
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
    background-color: #64727D;
}
