[Desktop Entry]
Name=Notion
Exec=/bin/sh -c "$HOME/.local/share/notion/Notion --enable-features=UseOzonePlatform --ozone-platform=wayland %U"
Terminal=false
Type=Application
Icon=notion
StartupWMClass=Notion
Comment=Second Brain
Categories=Office;
